@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300&display=swap');

@font-face {
  font-family: 'FolioStd';
  src: url('/fonts/Folio-Std-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather';
  src: url('/fonts/Merriweather-Variable.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

:root {
  --color-background: #25444180;
  --color-primary: #254441;
  --color-accent: #FFEFB8;
  --color-text-main: #254441;
  --color-nav: #007AAE;
  --color-border: #D4D4D4;
  --font-folio: 'FolioStd', sans-serif;
  --font-merriweather: 'Merriweather', serif;
  --font-roboto: 'Roboto', sans-serif;
}

body {
  background-color: #FFFFFF;
  color: var(--color-text-main);
}